
body{
margin:0;
font-family:Arial;
background:#0b1020;
color:white;
}

.app{
max-width:900px;
margin:auto;
padding:20px;
}

.menu{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:10px;
margin-bottom:20px;
}

button{
padding:12px;
border-radius:10px;
border:none;
background:#1e88e5;
color:white;
font-size:16px;
}

input{
padding:10px;
margin:5px 0;
width:100%;
border-radius:8px;
border:none;
}

#content{
background:#11182c;
padding:20px;
border-radius:10px;
}
